
nav {
  background-color: #F06000;
  background-image: url("/images/45-degree-fabric-light.png");
  height: 120px;
  width: 100%;
  color: #FFFFFF;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: 0;
  z-index: 10;

}

nav span {
  font-family: 'Bungee', 'sans-serif' ;
  font-size: 1.5em;
  margin: 1.5em;
}

nav div {
  margin: 1em 1.5em 1.5em 1.5em;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.nav-link:hover {
  cursor: pointer;
}

nav div div {
  margin-bottom: 5px;
}

.arrow-icon {
  margin-top: 1px;
  align-self: center;
}

nav:hover .bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-8px);
  }
}


/* Tablet styles */
@media screen and (min-width: 768px) {
  nav {
    position: fixed; 
  }
}


/* Desktop styles */
@media screen and (min-width: 1024px) {
  nav {
    background-image: none;
    background-color: #4056A1;
  }
  
}