.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

textarea {
  outline: none;
  resize: none;
  font-weight: bold;
  background-color: #FAEBD0;
  width: 100%;
  height: 50px;
  margin: 10px 0px;
  border: none;
  overflow: auto;
  border-bottom: solid black 5px;
}

.form-footer {
  font-family: 'Bungee', 'sans-serif';
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

.red {
  color: #FF0000;
}


