#tweet-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.tweet {
  height: auto;
  background-color: #FAEBD0;
  border: solid #545149 5px;
  margin-top: 40px;
  filter: blur(1px);
  z-index: 1;
}

.tweet header {
  padding: 20px;
  margin: 1px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 15px;
}

.handle {
  visibility: hidden;
  color: #BFBDBD;
}

.tweet-content {

  padding: 10px 30px;
  margin: 24px auto;
  font-weight: normal;
  word-break:break-all;

}

.tweet footer {
  width: 98%;
  font-size: 14px;
  margin: 10px;
  padding: 12px;
  border-top: solid #545149 5px;
  display: flex;
  /*flex-direction: row; */
  justify-content: space-between;
}

.icons {
  width: 75px;
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  visibility: hidden;
}


.tweet:hover {
  filter: drop-shadow(10px 10px 5px #545149);
  

}

.tweet:hover .handle {
  visibility: visible;
}

.tweet:hover .icons {
  visibility: visible;
}

.btn-to-top {
  color: #FAEBD0;
  background-color: #222;
  background-image: url("/images/45-degree-fabric-light.png");
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 47%;
  margin: 30px;
  padding-top: 14px;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 1000;
  transition: opacity .5s;
  visibility: hidden;
}
.btn-to-top:hover {
  cursor: pointer;
  animation: bounce 2s;
  animation-iteration-count: infinite;
}
.btn-to-top:active {
  background-color: #555;
}

@keyframes bounce {
  0%, 25%, 50%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-8px);
  }
}



/* Desktop styles */
@media screen and (min-width: 1024px) {
  
  #tweet-container {
    padding: 0px 80px;
  }
  
}
