#tweet-container {
  height: 250px;
  background-color: #FAEBD0;
  border: solid #545149 5px;
  color: #545149;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  padding: none;
  filter: blur(1px);
}

article.tweet header {
  padding: 20px;
  margin: 1px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.tweet .username {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet .username .name {
  margin-left: 15px;
}

.tweet .handle {
  display: none;
  color: #BFBDBD;
}


.tweet-content {
  padding: 10px 30px;
  margin: 24px auto;
  font-weight: normal;

}



.tweet footer {
  width: 98%;
  font-size: 14px;
  margin: 10px auto;
  padding: 12px;
  border-top: solid #545149 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet footer .icons {
  width: 75px;
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#tweet-container:hover {
  filter: drop-shadow(10px 10px 5px);
}

#tweet-container:hover .tweet .handle {
  display: block;
}
