#tweet-container {
  display: flex;
  flex-direction: column;
}

.tweet {
  height: auto;
  background-color: #FAEBD0;
  border: solid #545149 5px;
  margin-top: 40px;
  filter: blur(1px);
  z-index: 1;
}

.tweet header {
  padding: 20px;
  margin: 1px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 15px;
}

.handle {
  visibility: hidden;
  color: #BFBDBD;
}

.tweet-content {

  padding: 10px 30px;
  margin: 24px auto;
  font-weight: normal;
  word-break:break-all;

}

.tweet footer {
  width: 98%;
  font-size: 14px;
  margin: 10px;
  padding: 12px;
  border-top: solid #545149 5px;
  display: flex;
  /*flex-direction: row; */
  justify-content: space-between;
}

.icons {
  width: 75px;
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  visibility: hidden;
}


.tweet:hover {
  filter: drop-shadow(10px 10px 5px #545149);
  

}

.tweet:hover .handle {
  visibility: visible;
}

.tweet:hover .icons {
  visibility: visible;
}


/* Tablet styles */
@media screen and (min-width: 768px) {



}

/* Desktop styles */
@media screen and (min-width: 1024px) {
  
  
  #tweet-container {
    padding: 0px 80px;
  }
  
}
